<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>* * * * *
</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>C:\Jmeter\bin\jmeter.bat -n -t C:\Jmeter\bin\jsonplaceholder2.jmx -l C:\Jmeter\bin\results_%BUILD_NUMBER%.jtl -e -o C:\Jmeter\bin\report_%BUILD_NUMBER%&#xd;
</command>
      <configuredLocalRules/>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.performance.PerformancePublisher plugin="performance@972.v0a_ed034885fd">
      <errorFailedThreshold>-1</errorFailedThreshold>
      <errorUnstableThreshold>-1</errorUnstableThreshold>
      <errorUnstableResponseTimeThreshold></errorUnstableResponseTimeThreshold>
      <relativeFailedThresholdPositive>-1.0</relativeFailedThresholdPositive>
      <relativeFailedThresholdNegative>-1.0</relativeFailedThresholdNegative>
      <relativeUnstableThresholdPositive>-1.0</relativeUnstableThresholdPositive>
      <relativeUnstableThresholdNegative>-1.0</relativeUnstableThresholdNegative>
      <nthBuildNumber>0</nthBuildNumber>
      <configType>ART</configType>
      <graphType>ART</graphType>
      <modeOfThreshold>false</modeOfThreshold>
      <failBuildIfNoResultFile>true</failBuildIfNoResultFile>
      <compareBuildPrevious>false</compareBuildPrevious>
      <optionType>ART</optionType>
      <modePerformancePerTestCase>false</modePerformancePerTestCase>
      <excludeResponseTime>false</excludeResponseTime>
      <showTrendGraphs>true</showTrendGraphs>
      <modeThroughput>false</modeThroughput>
      <modeEvaluation>false</modeEvaluation>
      <constraints class="empty-list"/>
      <ignoreFailedBuilds>false</ignoreFailedBuilds>
      <ignoreUnstableBuilds>false</ignoreUnstableBuilds>
      <persistConstraintLog>false</persistConstraintLog>
      <sourceDataFiles>C:\Jmeter\bin\results.jtl</sourceDataFiles>
      <filterRegex></filterRegex>
      <junitOutput></junitOutput>
      <percentiles>0,50,90,95,100</percentiles>
      <baselineBuild>0</baselineBuild>
    </hudson.plugins.performance.PerformancePublisher>
  </publishers>
  <buildWrappers/>
</project>